build/**
.vscode/**
._deps/**
_deps/googletest-subbuild/cmake_install.cmake
_deps/googletest-subbuild/CMakeCache.txt
_deps/googletest-subbuild/CMakeLists.txt
_deps/googletest-subbuild/Makefile
_deps/googletest-subbuild/CMakeFiles/cmake.check_cache
_deps/googletest-subbuild/CMakeFiles/CMakeDirectoryInformation.cmake
_deps/googletest-subbuild/CMakeFiles/CMakeOutput.log
_deps/googletest-subbuild/CMakeFiles/CMakeRuleHashes.txt
_deps/googletest-subbuild/CMakeFiles/Makefile.cmake
_deps/googletest-subbuild/CMakeFiles/Makefile2
_deps/googletest-subbuild/CMakeFiles/progress.marks
_deps/googletest-subbuild/CMakeFiles/TargetDirectories.txt
_deps/googletest-subbuild/CMakeFiles/3.22.1/CMakeSystem.cmake
_deps/googletest-subbuild/CMakeFiles/Progress/4
_deps/googletest-subbuild/CMakeFiles/Progress/count.txt
_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/build.make
_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/cmake_clean.cmake
_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/compiler_depend.make
_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/compiler_depend.ts
_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/DependInfo.cmake
_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/Labels.json
_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/Labels.txt
_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/progress.make
_deps/googletest-subbuild/googletest-populate-prefix/src/03597a01ee50ed33e9dfd640b249b4be3799d395.zip
_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/download-googletest-populate.cmake
_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/extract-googletest-populate.cmake
_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-mkdir
_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-urlinfo.txt
_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/verify-googletest-populate.cmake
_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-cfgcmd.txt
_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-cfgcmd.txt.in
